body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

img {
    border: 5px solid #000000; 
    border-radius: 8px;        
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #dbf3ff; 
}


.caixa-principal {
    border: 3px solid #000000;  
    padding: 20px;              
    border-radius: 12px;        
    background-color: #b5e7ff;  
}



.container-cards {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    gap: 20px;
    flex-wrap: wrap; 
}

.caixa-principal {
    border: 3px solid #000000;
    padding: 100px;
    border-radius: 12px;
    background-color: #cbe3ec;
    max-width: 300px; 





    
.caixa-principal h1 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: #000000;
}


.card-evento {
    border: 3px solid #000000;
    padding: 25px;
    border-radius: 12px;
    background-color: #cbe3ec; 
    max-width: 280px;
    font-family: sans-serif;
    box-shadow: 5px 5px 0px #000000; 
}


.card-evento .ano {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: #000000;
    padding: 4px 8px;
    border-radius: 4px;
}



}


}


</body>
</html>


